/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* GENERAL */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column-1-6 {
    width: calc(100% / 6);
}

.column-2-3 {
    width: calc((100% / 3) * 2);
}

.column-3-5 {
    width: calc((100% / 5) * 3);
}

.column-2-5 {
    width: calc((100% / 5) * 2);
}

.column-1-4 {
    width: calc(100% / 4);
}

.column-1-3 {
    width: calc(100% / 3);
}

.column-2-3 {
    width: calc((100% / 3) * 2);
}

.text-right {
    text-align: right;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.1rem;
}

.button-small {
    font-size: 0.9rem;
    padding: 10px 15px;
}

.button-white {
    color: black;
    background-color: white;
}

.button-black {
    color: white;
    background-color: black;
}

.button-lilla {
    color: white;
    background-color: #7288DA;
}

p {
    line-height: 1.8rem;
    font-size: 1.1rem;
}

/* HEADER TOP*/

header .header-top {
    padding: 10px 0;
    color: white;
    background-color: #255EE9;
}

header .header-top .container .row {
    align-items: center;
}

header .header-top nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header .header-top nav ul>li>a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px;
}


/* HEADER BOTTOM */

.header-bottom {
    padding: 80px 0;
    background-color: #255EE9;
    background-image: url('../img/jumbo.png');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-bottom .jumbo>* {
    color: white;
    padding: 20px;
    text-align: center;
}

.jumbo>h1 {
    font-size: 2.5rem;
}

/* MAIN */

main>section {
    padding: 40px 0;
}

main .column-2-5 {
    padding: 40px;
}

main .column-3-5 img {
    width: 100%;
}

main>section:nth-child(even) {
    background-color: #F5F5F5;
}

main h2 {
    font-size: 2.5em;
    padding-bottom: 20px;
}

main .main-bottom>* {
    margin: 40px;
}

main h3 {
    font-size: 2em;
    padding-top: 40px;
    background-image: url(../img/stars.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
}

main>section:last-child {
    text-align: center;
}

/* FOOTER */

footer {
    background-color: #23272A;
}

footer .footer-top {
    padding: 20px 0;
}

footer .footer-bottom {
    padding-top: 20px;
}

footer hr {
    border-color: white;
}

/* FOOTER BOTTOM */

footer .flex-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

footer .flex-container>* {
    padding: 5px 10px;
}


/* DEBUG */

.debug .container {
    /* background-color: bisque; */
    border: 2px dashed black
}

.debug .header-top {
    background-color: #ADD8E6;
}

.debug .header-bottom {
    background-color: #00008B;
    border: 2px dashed #black
}

.debug header .header-top>.container>.row {
    background-color: #DAA520;
}

.debug header .header-top>.container>.row>* {
    border: 2px dashed black
}

.debug .header-bottom .jumbo {
    background-color: #EE81EE;
    border: 2px dashed black;
    min-height: 400px;
}

.debug main section .column-3-5 {
    background-color: #1C90FF;
    border: 2px dashed black;
    min-height: 300px;
}

.debug main section .column-2-5 {
    background-color: #FEC0CA;
    border: 2px dashed black;
    min-height: 300px;
}

.debug main .container .jumbo-green {
    background-color: #228B21;
    border: 2px dashed black;
    min-height: 500px;
}

.debug .flex-container {
    background-color: #7FFFD3;
}

.debug .flex-container>* {
    background-color: #FFB6C1;
    border: 2px dashed black;
}

.debug footer .footer-top .container>.row>* {
    background-color: #EF8080;
    min-height: 300px;
    border: 2px dashed black;
}

.debug footer .footer-top .column-1-4 {
    background-color: #20B1A9;
    min-height: 300px;
    border: 2px dashed white;
}